html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}
*{
    box-sizing: border-box;

}
body{
    position: relative;
}
#help{
    position: absolute;
    width: 250px;
    bottom: 0;
    right: -250px;
}
body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.sakura {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: pink;
  border-radius: 50%;
  pointer-events: none;
  animation: sakuraFall linear infinite;
  z-index: -2;
  margin-top: -20px;
}

@keyframes sakuraFall {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}



body{
    background-color: gray;
    background-image: url(../img/montagne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    height: 900px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
input{
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent;
}
label{
    color: black;
    font-size: 30px;
}
#nam{
    margin-left: 13px;
}
#nam2{
    margin-left: 27px;
}
#mail{
    margin-left: 47px;
}
#submit{
    background-color: greenyellow;
    border: none;
    border-radius: 10px;
    width: 100%;
}
button{
    align-items: center;
    background-color: rgb(193, 86, 197);
    border: none;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.img1{
    width: 30px;
    margin-right: 10px;
} 
